extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Kajetan August


        p.lead.text-light.about-subtitle
          | Front End Web Developer. Full Stack JavaScript Techdegree Student.

        .portfolio-bio
          p
            | Graphic designer turned front-end developer.
            | I've worked as graphic designer and photographer for last few years.
            | Half a year ago, I've decided that i need a change in my life and started learning front-end web development.
            | At the moment i'm gaining my JavaScript knowledge studying at Full Stack JavaScript Techdegree.
            | If I'm not coding I'm in the mountains with my girlfriend and my Border Collie dog - Loki.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express framework
          li Vanilla JavaScript
          li HTML
          li CSS
          li SASS/SCSS
          li jQuery
          li Bootstrap
          li GitHub
          li Pug
          li APIs
        h6 Contact Info


        ul
          li 123-456-7899
          li kajetan.august@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/kajetan-august') LinkedIn
        a.button.expanded(href='https://github.com/KajetanAugust') GitHub
        a.button.expanded(href='https://www.instagram.com/kajetanaugust/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  