extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 My portfolio


      p.lead.text-light
        | This is my portfolio, it presents the projects I did during Front-End Developer and Full Stack JavaScript Techdegrees.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3


      each projectLoop in  projectsInfo
        .cell
          a(href=`/project/${projectLoop.id}`)
            img.thumbnail(src=`${projectLoop.image_urls[0]}`)
            h5= projectLoop.project_name



      
