extends layout.pug

block content 
    article.grid-container.portfolio-intro
        div
            h1.main-h1 MY PROJECTS
            p.lead.text-light
                | These are project I've done during Front End Web Developer and Full Stack JavaScript Trchdegrees.
    article.grid-container.portfolio-index

        .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
            each project in projects
                .cell
                    a(href=`/project/${project.id}`, target="_blank")
                        img.thumbnail#project-thumbnail(src=`${project.image_urls[0]}`)
                        h5= project.project_name



      
